@use "../../abstracts" as b;
@use "../../components" as c;

.footer_container {
    @include  c.padding();
    @include  c.flex-space(space-between , 1rem , start);
    flex-wrap: wrap;
.important_links {
.titel_section {
    @include b.heading_3();
}
.links {

    .link {
    margin: 1.5rem 0 ;
    display: block;
    @include b.link_2();
    color: map-get(b.$colors, blacky);
    }
}
}
.how_us {
    .titel {
    @include b.heading_3();
    }
    .pargraf {
    margin: 1rem 0 3rem ;
    @include b.link_2()
    }
    .list_icons {
    @include c.align_item(1rem);
    }
}
.Contact {
    .contact_titel {
    @include b.heading_3();
    margin-bottom: 2rem;
    }
    .list_contact {
    .contact {
    margin: 1.5rem 0 ;
    @include b.link_2()
    }
    }
}
}