@use "../abstracts" as b;
@use "../components" as c;


.err_page {
    padding: 1.5rem;
    @include c.flex_space(center);
    flex-direction: column;
    .err_titel {
    @include b.heading_3();
    }
    .err_img {
        max-width: 30rem;
        margin: 3rem 0 ;
    }
    .err_button {
        @include b.link();
        padding-bottom: .5rem;
        border-bottom: solid  0.125rem ;
        font-size:1.5rem !important;
        color: black;
        cursor: pointer;
        img {
            margin-right: .5rem;
        }
    }

}