@use "../abstracts" as b;
@use "../components" as c;

$margin:1rem;
$reswidth:70%;
$note:30%;
$fullw:100%;
$color:#2e3a47;

.Checkout_container {
    padding: 2rem 6.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:map-get(b.$breackpoints , md)) {
    justify-content: center;
    flex-direction: column;
    padding: 1rem 3rem;
    gap: 2rem;
    }
    Form {
        display: grid;
        gap: 2.5rem;
        width: 80%;
        @media (max-width:map-get(b.$breackpoints , md)) {
            width:$fullw;
            text-align: center;
            input[type = "text"] {
                width: $reswidth;
            }
            }
    .titel {
        font-size:2rem;
        font-weight: 700;
        line-height: 120%;
        color: map-get(b.$colors, blacky);
    }
    label {
        font-size:.8500rem;
        font-weight: 700;
        line-height: 120%;
        color: map-get(b.$colors, dark-red);
        input,
        select {
            margin-bottom: $margin / 2;
        }
    }
    .form_one,
    .form_two {
        gap: 2rem;
        display: flex;
        margin-top: 2rem;
        width: 100%;
        flex-wrap: wrap;
    }
    input[type = "text"],
    textarea {
    padding:.4rem;
    border: 1px solid #acbdcd;
    border-radius: 3px;
    font-size: 1rem;
    color: $color;
    font-family: b.$Cairo;
    font-size: 1rem;
    font-weight: 600;
    width: $fullw;
    &::placeholder {
        user-select: none;
        cursor: text;
    }
    }
    textarea {
        height: 9rem;
        margin: 1rem 0 0 !important;
        width: $reswidth;
    }
    select {
        appearance: none;
        background-color: transparent;
        font-family: b.$Cairo;
        font-weight: 700;
        font-size: 1rem;
        cursor: pointer;
        color:$color  ;
        border: 1px solid #acbdcd;
        border-radius: 0.25em;
        padding:.7rem;
        line-height: 1.1;
        background-color: #fff;
        background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
        &::-ms-expand {
            display: none;
        }
    }
    input[type = "submit"] {
        @include c.button(map-get(b.$colors , blacky) , map-get(b.$colors , whity));
        width: $reswidth;
        margin-top: 2rem;
}
}
.Notedelivry_container {
width:$note;
@media (max-width:map-get(b.$breackpoints , md)) {
    width:$fullw;
    }
padding: 1rem .5rem;
.Notedelivry_titel,
.summery_order ,
.payment_way {
    @include b.link();
    margin-bottom: $margin;
    padding-bottom: $margin;
    border-bottom: 2px solid map-get(b.$colors, lightgray_one );
}
.product_container {

    .product_discrption {
        @include c.flex-space(center , 1rem);
        margin-bottom: $margin;
        img {
            max-height: 7rem;
    }
    .product_content {
        .product_titel {
            @include b.link_2();
        }
        .product_size_color {
            margin: $margin 0 ;
            color: #acbdcd;
        }
        .product_price {
            font-size: 1em;

        }
    }
}
.summery_order {
    padding-bottom:1rem;
    @include b.link();
    margin-bottom: $margin;
    border-bottom: 2px solid map-get(b.$colors, lightgray_one );
}
.product_amount,
.product_total {
    font-size: 1rem;
    font-weight: 700;
    padding: .5rem 0 ;
    span {
        float: left;
    }
}
.payment_way {
    margin-top: $margin;
}
.cart {
    padding: 2rem .5rem;
    background-color: map-get(b.$colors, lightgray_one );
    border-radius: 1rem;
    border-bottom: 2px solid map-get(b.$colors, blacky );
    margin-bottom: 1rem;
    cursor: pointer;
    .cart_way {
        @include b.link_2();
        text-align: center;
        margin-bottom: .5rem;
    }
    .cart_discrption {
        font-weight: 600;
        text-align: center;
        text-decoration: underline;
    }
}
.discrption {
    font-size: .8300rem;
    line-height: 2;
    font-weight: 700;
}
}
}
}