@use "../abstracts" as b;
@use "../components" as c;
@use "../utilities" as u;



.producr_container {
    @include u.grid(300px , 1rem);
    place-items: center;
    width:70%;
    margin: 2rem 0;
    .product_cart {
border: 1px solid rgba(0, 0, 0, 0.26);
border-radius: 1rem;
background: #FFF;
box-shadow: 9px 12px 20px 0px rgba(0, 0, 0, 0.25);
padding:1rem;
transition: .5s ease-in-out;
    cursor: pointer;
    &:hover {
    transform: translateY(-1rem);
}
.product_img {
    max-width:15rem;
    margin-bottom: 1rem;
    transition: 0.5s;
}
.cart_holder {
.cart_price {
    @include b.heading_4();
    color: map-get(b.$colors, blacky );
    text-align: start;
    .discount {
        margin-right: 1rem;
        @include b.discount();

    }
} 
.cart_titel {
    color: map-get(b.$colors, blacky );
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 1rem;
}
}


    .addtocart {
    @include c.button_2(map-get(b.$colors , blacky));
    width: 100% !important;
    }
    }
    .not_found {
    @include b.heading_3();
    margin: 10rem auto; 
    }
    }
    .see_more {
        padding: .3rem 7.375rem;
        border-radius: 3.875rem;
        border: 1px solid rgba(0, 0, 0, 0.10);
        font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
color: map-get(b.$colors, blacky );
margin: 1rem auto 0 ;
transition: .5s ease-in-out;
&:hover {
    color: map-get(b.$colors, whity);
background-color: map-get(b.$colors, blacky );
}
    }
