@use "../abstracts" as b;
@use "../components" as c;

.Productpage {
    padding: 2rem 6.25rem;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 5rem;
    @media (max-width:map-get(b.$breackpoints , xl)) {
        flex-direction: column;
        justify-content: center;
        img {
            margin: auto;
        }
    }
    img {
    width: 35.75rem;
    height:50rem;
    }
    .Productpage_content {
        width: 49rem;
    .Productpage_title  {
        @include b.heading_1();
        margin-bottom: 2rem
    }
    .price_container {
        @include c.align_item(1.25rem);
        .price {
        @include b.heading_4();
        }
        .price_discount {
        @include b.discount();
        }
        .discount_percent {
padding: 0.175rem 1rem;
border-radius: 3.875rem;
background-color: map-get(b.$colors, light_red ); 
color:map-get(b.$colors, dark-red );
font-size: 1.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
        }

    }
    .color_section {
        padding: 2rem  0 ;
        border-bottom: 2px solid map-get(b.$colors, lightgray_three );
        border-top: 2px solid map-get(b.$colors, lightgray_three );
        margin: 2rem 0 ;
        .color_title {
        @include b.link();
        margin-bottom: 2rem
        }
        .list_colors {
        @include c.align_item(1rem);
        .color {
        @include c.color();
        background-color: red;
        position: relative;
        &::after,
        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);
            content: "";
        }
        &::after {
            background-color: map-get(b.$colors, blacky );
        width: 100%;
        height: 100%;
        border-radius: 50%;
        opacity: 70%;
        z-index: 1;
    }
    &::before {
        z-index: 2;
        background-image: url('../../assets/hart.png');
        background-repeat: no-repeat;
        background-size: 1rem;
    }
}
.active {
    &::after {
    opacity: 0;
    }
}
        }
    }
    .size_section {
        padding-bottom: 1rem;
        margin-bottom: 2.5rem;
        border-bottom: 2px solid map-get(b.$colors, lightgray_three );
    .size_title {
            @include b.link();
            margin-bottom: 2rem
    }
    .list_sizes {
        @include c.align_item(1rem);
        .size {
            @include c.size()
        }
        .active {
            background-color: map-get(b.$colors, blacky );
            color: map-get(b.$colors,whity )
        }
    }

    }
    .tocart {
        @include c.flex-space(center , 1.5rem);
        .addtocart {
            padding: .3rem 3.0625rem;
            a {
                color: #FFF;
            }
            font-size: 1.75rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            outline: none;
            border: none;
            background-color: map-get(b.$colors, blacky );
            width: 100%;
            font-family: 'Cairo', sans-serif;
            cursor: pointer;
            transition: .5s ease-in-out;
                text-align: center;
                color: map-get(b.$colors, whity );
            &:hover {
                background-color: #B5B3B3;
            }
            &:active {
                background-color: map-get(b.$colors, blacky );
            }
        }
        .counter {
            width: 30%;
            font-size: 2.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: map-get(b.$colors, blacky );
            display: flex;
            align-items: center;
            @media (max-width:map-get(b.$breackpoints , sm)) {
            width: 50%;
            }
            .number {
                margin:  0 2.12rem;
            }
            &:first-child , 
            &:last-child {
                cursor: pointer;
            }
        }
    
    }
}
}