.Return_policy {
    padding:7rem 6.25rem;
   > h1 {
        font-weight: bold;
        font-size: 4rem;
        line-height: 120%;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 5rem;
    }
    img {
    width: 100%;
    height: 45rem;
    }
    .content {
    margin-bottom: 3rem;
    .titel {
    margin: 2rem 0 ;
    font-size: 6rem;
    text-align: center;
    text-decoration: underline;
    }
    .discrption {
    font-size: 3rem;
    text-align: center;
    line-height: 5rem;
}
}
}