$colors:(
primery:#f97ba6,
blacky:#000000,
whity:#FFF,
lightgray_one:#F2F0F1,
gray_one:#f6f6f6,
lightgray_two:rgba(0, 0, 0, 0.4),
lightgray_three:rgba(0, 0, 0, 0.10),
dark-red:#FF3333,
light_red:rgba(255, 51, 51, 0.10),
dash_color:#F0F2F5,
greeny:#4CE13F,
redy:#EF0606,
brown_light:#F29A2E,
gray_two:#F0F2F4
        ) 